*{
    box-sizing: border-box;
}



body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background-color: rgb(224, 241, 224);
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app-name{
    font-size: 38px;
}




/* form css */
form{
    width: 35%;
    padding: 20px;
    border: 2px solid green;
    border-radius: 5px;
}


label{
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-weight: 500;
}

input{
    padding: 10px;
    border: 1px solid green;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
    background-color: rgb(245, 252, 245);
    font-size: 16px;
}

textarea{
    border: 1px solid green;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    height: 10vh;
    background-color: rgb(245, 252, 245);
    font-size: 16px;
}


.view-allproduct-btn{
    background-color: rgb(194, 235, 194);
    border: 2px solid green;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px;
}


.add-product-btn{
    background-color: rgb(194, 235, 194);
    border: 2px solid green;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px;
    float: right;
}



