*{
    box-sizing: border-box;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(224, 241, 224);
    
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    font-size: 38px;
}


.search{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 30vw;
    border: 2px solid green;
    background-color: white;
    font-size: 16px;
}


#sortby{
    margin-top: 20px;
    padding: 10px;
    border: 2px solid green;
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
}


#sort-order{
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px;
    border: 2px solid green;
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
}



/* table css */
table, tr, th, td{
    border: 2px solid green;
    border-collapse: collapse;
}

th, td{
    padding: 10px;
}

table{
    margin-top: 40px;
    margin-bottom: 60px;
    width: 70vw;
}


.add-product-btn{
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(179, 223, 179);
    border: 2px solid green;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.edit-btn{
    padding: 5px;
    border: 2px solid blue;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 80px;
}

.delete-btn{
    padding: 5px;
    margin-left: 10px;
    border: 2px solid red;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 80px;
}

.view-btn{
    padding: 5px;
    margin-left: 10px;
    border: 2px solid green;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 80px;
}


.product-img{
    height: 100%;
    width: 100%
}

.table-product-id{
    width: 100px;
}

.table-product-name{
    width: 100px;
}


.table-product-url{
    width: 200px;
}

.table-product-price{
    width: 120px;
}

.table-product-descr{
    width: 120px;
}

.table-actions{
    width: 100px;
}

.table-action-btns{
    display: flex;
    justify-content: center;
}